.modal-confirm__text {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #353D4B;
    margin:0;
    
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}