.modal-window__input-heading{
    font-family: 'Inter', Arial, sans-serif;
    margin: 0 0 1%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #818C99;
}