.modal-confirm__btn {
    width: 153px;
    height: 36px;
    border-radius: 6px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    border: none;
    margin-right: 24px;
}

.modal-confirm__btn:hover{
    transition: 0.3s;
    opacity: 0.6;
}